/* Add CSS Styling */
button {
   font-size:28px;
   font-family: Helvetica,"Times New Roman",sans-serif;
}
#bone {
    background-color: black;
    color:white;
}
#btwo {
    background-color: yellow;
}